/* .poster-wrapper {
  margin: 0;
  padding: 0;
} */

.main-poster {
  /* position: absolute; */
  margin-left: 15%;
  /* padding: 10rem; */
  object-fit: contain;
  z-index: 1;
  /* top: 20vh; */
  width: 15%;
  transition: none;
}

.main-poster:hover {
  transform: none;
}
