* {
  margin: 0;
}

.card {
  margin: 0 10px;
}

.poster-wrapper {
  overflow: hidden;
}

.poster {
  width: 175px;
  object-fit: contain;
  transition: transform 0.3s ease-in;
}

.poster:hover {
  transform: scale(1.15);
}

.movie-title {
  font-size: 1rem;
  margin-top: 8px;
  margin-left: 3px;
  font-weight: 600;
}
